.left-option-menu{
  background-color:white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  width: 72px;
  padding-top: 5px;
  z-index: 200;
  display: flex;
  background-color: white;
  flex-direction: column;
  border-right: 1px solid rgb(245, 242, 242);
}

.sidebar-contains{
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-contains:hover{
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.sidebar-contains img{
  height: 24px;
}

.sidebar-contains div{
  font-size: 10px;
  margin-top: 4px;
}